<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel panel-primary" style="margin:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">LỊCH CHUYẾN BAY</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-6 col-sm-6">
                    <label>Tên máy bay </label>
                    <select class="form-control">
                        {% for s in maybay %}
                        <option>{{s.tenmaybay}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-6 col-sm-6">
                    <label>Sân bay đi</label>
                    <select class="form-control">
                        {% for s in sanbay %}
                        <option>{{s.tensanbay}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Sân bay đến</label>
                    <select class="form-control">
                        {% for s in sanbay %}
                        <option>{{s.tensanbay}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label for="city">Ngày - giờ khởi hành</label>
                    <input type="datetime-local" class="form-control input-sm" id="city" placeholder="">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Thời gian bay</label>
                    <input type="number" class="form-control input-sm" placeholder="(phút)">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Số lượng ghế hạng 1</label>
                    <input type="number" class="form-control input-sm" placeholder="">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Số lượng ghế hạng 2</label>
                    <input type="number" class="form-control input-sm" placeholder="">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Giá ghế hạng 1</label>
                    <input type="number" class="form-control input-sm" placeholder="">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label>Giá ghế hạng 2</label>
                    <input type="number" class="form-control input-sm" placeholder="">
                </div>
            </div>
            <table class="table text-center table-hover">
                <tr class="row">
                    <td class="col-md-1">STT</td>
                    <td class="col-md-3">Sân bay trung gian</td>
                    <td class="col-md-2">Thời gian dừng</td>
                </tr>
                <tr class="row">
                    <td class="col-md-1">1</td>
                    <td class="col-md-3">
                        <div class="form-group">
                            <select class="form-control">
                                <option></option>
                                {% for s in sanbay %}
                                <option>{{s.tensanbay}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <input type="number" class="form-control" placeholder="(phút)"/>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-1">2</td>
                    <td class="col-md-3">
                        <div class="form-group">
                            <select class="form-control ">
                                <option></option>
                                {% for s in sanbay %}
                                <option>{{s.tensanbay}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td class="col-md-2"><input type="number" class="form-control" placeholder="(phút)"/></td>
                </tr>
            </table>
            <div class="col-md-12 col-sm-12" id="addblock">
                <div class="form-group col-md-2 col-sm-3">
                    <input type='button' class="form-control btn btn-primary" value="Add" id="add"/>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>